@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");

/* Remove padding and margin */
*
{
  margin: 0;
  padding: 0;
  border: 0;
}

@media only screen and (max-width: 955px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .input-text {
    height: 2em;
    align-self: center;
  }

  .input-buttons {
    align-self: center;
  }
}

/* sets background color */
body {
  /*background-image: url("./bush.png");*/
  /*opacity: 50%;*/
  background: linear-gradient(to right top, #D4DAFF, #D9DAFF);
}

/*VARIABLES*/
:root {
  --box-shadow-specs: 10px 10px 16px -13px rgba(0,0,0,1);
}

header {
  background-color: #B063F2;
  padding: 15px;
}

.app-title {
  font-family: Lobster, cursive;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 4rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  align-items: flex-end;
  border: 2px solid;
  position: relative;
}
.sort-button {
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  position: absolute;
  background: linear-gradient(
          to right top,
          rgba(235, 142, 30,0.9),
          rgba(235, 142, 30,0.5));
  cursor: pointer;
  -webkit-box-shadow: var(--box-shadow-specs);
  -moz-box-shadow: var(--box-shadow-specs);
  box-shadow: var(--box-shadow-specs);
}
.sort-button:hover {
  background: linear-gradient(
          to right top,
          rgba(235, 130, 0,0.9),
          rgba(235, 130, 0,0.5));
}

.date {
  left: 1em;
}

.name {
  right: 1em;
}

.input-text {
  display: flex;
  height: 2em;
  flex: 3;

}

#todolist-input {
  flex: 3;
  flex-shrink: 1;
}

#date-input {
  flex: 1;
  flex-shrink: 0;
}

/* design for buttons */
.input-buttons {
  display: flex;
  justify-content:space-around;
  flex: 1;
  margin-top: 1rem;

}

.btn {
  border-radius:5%;
  font-weight: bold;
  text-align: center;
  flex-shrink: 0;
  max-height: 30px;
}
.btn:hover {
  cursor: pointer;
}
.btn p {
  display: flex;
  flex-shrink: 0;
  padding: 0 10px;
}

/*color and hover for add button*/
.add {
  background-color: #8f8f8f;
  align-self: center;
  padding: 8px 0;

}
.add:hover {
  background: #a6a6a6;
}

/*color and hover for clear button*/
.clear {
  background-color: #f1f140;
  align-self: center;
  padding: 8px 0;
}
.clear:hover {
  background-color: #f5f56b;
}

/*TODOLIST.JS STYLING*/
main {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

}

/*LISTITEM.JS STYLING*/

/* list items design */
ul li {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  background-color: white;
  font-size: 18px;
  height: 3em;
  padding-left: 5px;
  width: 75%;
  -webkit-box-shadow: var(--box-shadow-specs);
  -moz-box-shadow: var(--box-shadow-specs);
  box-shadow: var(--box-shadow-specs);
}
/* did i need to make the text under a p tag to alter it */
ul li p {
  flex: 1;
  align-self: center;
  font-family: Roboto, sans-serif;
  margin-left: 2px;
}
/* line through when a li has the "checked" class */
p.checked{
  text-decoration: line-through;
}

.editable {
  display: flex;
  justify-content:space-between;
  flex: 1;
}

.editable input[type="text"] {
  flex: 4;
}

.editable input[type="date"] {
  flex: 1;
}

.date_input {
  font-size: 0.8em;
  color: #9d9b9b;
}

.not_editable {
  display: flex;
  flex: 1;
}
.fa-check {
  flex: 0 0 20px;
  align-self: center;
  padding-left: 5px;
}

ul li input {
  flex: 1;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  margin-left: 5px;
  height: 25px;
  align-self: center;
  outline-color: #a09f9f;
}


  /*design for list item date*/
.date_item {
  font-size: 0.8em;
  padding-right: 2rem;
  align-self: center;
}
.overdue {
  color: red;
}
.ontime {
  color: #9d9b9b;
}
/*design for edit button*/
.edit{
  background-color: #80f151;
  flex: 0 0 50px;
  cursor: pointer;
  position: relative;
}
.fa-edit {
  position:absolute;
  top: 1rem;
  left: 1rem;
}

/*design for delete button*/
.delete {
  background-color: #ff3333;
  flex: 0 0 50px;
  cursor: pointer;
  position: relative;
}
.fa-times {
  position:absolute;
  top: 1rem;
  left: 1rem;
}
