@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");

/* Remove padding and margin */
*
{
  margin: 0;
  padding: 0;
  border: 0;
}

@media only screen and (max-width: 955px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .input-text {
    height: 2em;
    align-self: center;
  }

  .input-buttons {
    align-self: center;
  }
}

/* sets background color */
body {
  /*background-image: url("./bush.png");*/
  /*opacity: 50%;*/
  background: linear-gradient(to right top, #D4DAFF, #D9DAFF);
}

/*VARIABLES*/
:root {
  --box-shadow-specs: 10px 10px 16px -13px rgba(0,0,0,1);
}

header {
  background-color: #B063F2;
  padding: 15px;
}

.app-title {
  font-family: Lobster, cursive;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 4rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  align-items: flex-end;
  position: relative;
}
.sort-button {
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  position: absolute;
  background: linear-gradient(
          to right top,
          rgba(235, 142, 30,0.9),
          rgba(235, 142, 30,0.5));
  cursor: pointer;
  -webkit-box-shadow: var(--box-shadow-specs);
  -moz-box-shadow: var(--box-shadow-specs);
  box-shadow: var(--box-shadow-specs);
}
.sort-button:hover {
  background: linear-gradient(
          to right top,
          rgba(235, 130, 0,0.9),
          rgba(235, 130, 0,0.5));
}
.sort-button-selected{
  -webkit-box-shadow: 0px 0px 12px 7px rgba(242,242,242,1);
  -moz-box-shadow: 0px 0px 12px 7px rgba(242,242,242,1);
  box-shadow: 0px 0px 12px 7px rgba(242,242,242,1);
}

.date {
  left: 1em;
}

.name {
  right: 1em;
}

.input-text {
  display: flex;
  height: 2em;
  flex: 3;

}

#todolist-input {
  flex: 3;
  flex-shrink: 1;
}

#date-input {
  flex: 1;
  flex-shrink: 0;
}

/* design for buttons */
.input-buttons {
  display: flex;
  justify-content:space-around;
  margin-top: 1rem;
  align-items: flex-end;
  height: 3em;
}

.btn {
  border-radius: 5%;
  font-weight: bold;
  flex-shrink: 0;
  max-height: 20px;
  padding: 0.4em;
}
.btn:hover {
  cursor: pointer;
}

/*color and hover for add button*/
.add {
  background-color: #8f8f8f;
  padding: 0 2em;

}
.add:hover {
  background: #a6a6a6;
}

/*color and hover for clear button*/
.clear {
  background-color: #f1f140;
  padding: 0 2em;
}
.clear:hover {
  background-color: #f5f56b;
}

/*TODOLIST.JS STYLING*/
main {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

}