* {
    margin: 0;
    padding: 0;
}

/* list items design */
ul li {
    display: flex;
    margin: 15px auto;
    background: rgba(255, 255, 255, 0.95);
    font-size: 18px;
}
/*list item text*/
ul li p {
    flex: 1;
    align-self: center;
}
/* line through when a li has the "checked" class */
p.checked{
    text-decoration: line-through;
}

.list-item {
    padding: 10px;
}

.editable {
    display: flex;
    justify-content:space-between;
    flex: 1;
}

.editable input[type="text"] {
    flex: 4;
}

.editable input[type="date"] {
    flex: 1;
}

.date_input {
    font-size: 16px;
    color: #9d9b9b;
}

.not_editable {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.list-check {
    flex: 0 0 20px;
    align-self: center;
    padding-left: 5px;
}

ul li input {
    flex: 1;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin-left: 5px;
    height: 25px;
    align-self: center;
    outline-color: #a09f9f;
}


/*design for list item date*/
.date_item {
    font-size: 14px;
    padding-right: 20px;
    align-self: center;
}
.overdue {
    color: red;
}
.ontime {
    color: #9d9b9b;
}

.list-buttons {
    display: flex;
    cursor: pointer;
    text-align: center;
    width: 15vh;
}
/*design for edit button*/
.list-action {
    flex: 1;
}


.list-edit{
    background-color: #6846FA;
}

/*!*design for delete button*!*/
.list-delete {
    background-color: #FA469E;
}

.icon {
    position: relative;
}
/*RESPONSIVE DESIGN*/
@media screen and (max-width: 768px) {

    .list-buttons {
        width: 12vh;
    }

    ul li p {
        flex: 1 1 200px;
    }
}

/*//get rid of clear
*
/
make all buttons simolar shape and same class
fix list item design big long sentence
including button design
refactor date back to moment. js
 */